# Compiled Object Code and Binaries
*.jfm
**/bin/*
**/obj/*

# User-Specific Files
*.user
*.suo
*.sln.docstates

# Build Results
/out/
/Release/
/Debug/

# NuGet Package Restore
/.nuget/
/packages/
global.json.lock.json
project.assets.json

# Test Results
/TestResults/
*.trx
*.coverage
*.coveragexml

# IDE Specific Files
.vs/
.idea/
*.csproj.user
*.props
launchSettings.json

# Editor Backup Files
*.[Oo][Ll][Bb]
~$*
*.swp
*.swo
*.vsvimcache
*.vsvimsccache

# Operating System Specific Files
.DS_Store
Thumbs.db

# MyVersionControlSystem Specific - Data Storage (Optional - depends if you want to track sample repos)
# /MyVersionControlSystem.ConsoleApp/C__MyVersionControl/  # Uncomment if you don't want to track created repos

# Deployment Specific
/publish/

# Logs
*.log

# Temporary files
*.tmp